.reservation{
    width:100vw;
    height:100vh;
    background:url('../../../assets/background-images/reservation.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}