<section #fleet class="fleet">
    <button class="fleet__button" routerLink="/fleet">Poznaj naszą flotę</button>
</section>
<section #introduction class="introduction">
    <h1 class="introduction__content">Zasmakuj luksusu</h1>
    <h2 class="introduction__content introduction__content--description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quod non dolor? Laborum, mollitia quam delectus quo odit deleniti necessitatibus error ea sed ipsa tenetur, eligendi eius sequi quas maxime!</h2>
    <button class="introduction__content--button" (click)="gotoByName('aboutUs')">Dowiedz się o nas wiecej</button>
</section>
<section #aboutUs class="about-us">
    <h1 class="about-us__content">Z pasją do samochodów od lat</h1>
    <h2 class="about-us__content about-us__content--description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quod non dolor? Laborum, mollitia quam delectus quo odit deleniti necessitatibus error ea sed ipsa tenetur, eligendi eius sequi quas maxime!</h2>
    <button class="about-us__content--button" (click)="gotoByName('services')">Zobacz nasze inne usługi</button>
</section>
<section #services class="services">
    <h1 class="services__content">Poznaj nasze dodatkowe usługi</h1>
    <h2 class="services__content services__content--description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quod non dolor? Laborum, mollitia quam delectus quo odit deleniti necessitatibus error ea sed ipsa tenetur, eligendi eius sequi quas maxime!</h2>
</section>


