.navbar{
    width:100vw;
    height: 8vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    position:fixed;
    color:white;
    font-size:22px;
    font-family: 'Merriweather';
    background:rgba(0, 0, 0,0.6);
    z-index: 100;

    @mixin menu-item {
        padding:20px;
        display:inline-block;
        cursor: pointer;
        user-select: none;
    }
    
    .menu{
        display:flex;
        flex-direction: row;
        list-style-type: none;
        margin:0;
        padding:0 40px;

        .menu__item{
            @include menu-item;
            &:focus{
                outline: none;
            }
        }
    }
}
.active{
    text-decoration: underline;
}