.hamburger-btn{
    display:none !important;
    position:fixed;
    // width:50px;
    // height:50px;
    padding:10px;
    margin:15px;
    display: inline-block;
    z-index: 101;
    
    .hamburger-btn__container{
        width:25px;
        height:20px;
        position:relative;
        display: inline-block;
        cursor:pointer;

        @mixin line {
            width: 100%;
            height: 3px;
            left:0;
            position:absolute;
            background-color: black;
            transition: transform .2s ease-in-out;
        }
        .hamburger-btn__line{
            @include line;
            
            top:50%;
            transform:translateY(-50%);
            
            &::after{
               @include line;
               content: '';
               top:-10px;
               
            }
            &::before{
                @include line;
                content: '';
                top:10px;
            }
        }
    }
}

.hamburger-btn--active .hamburger-btn__line{
    background-color: transparent !important;
}
.hamburger-btn--active .hamburger-btn__line::after{
    transform: translateY(10px) rotate(225deg);
    transition: transform .2s ease-in-out;
}
.hamburger-btn--active .hamburger-btn__line::before{
    transform: translateY(-10px) rotate(-225deg);
    transition: transform .2s ease-in-out;
}




.navbar{
    width:100vw;
    height: 8vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    position:fixed;
    color:white;
    font-size:22px;
    font-family: 'Merriweather';
    background:rgba(0, 0, 0,0.6);
    z-index: 100;
    transition: transform .2s ease-in-out;

    @mixin menu-item {
        padding:20px;
        display:inline-block;
        cursor: pointer;
        user-select: none;
        text-align: center;
    }
    
    .menu{
        display:flex;
        flex-direction: row;
        list-style-type: none;
        margin:0;
        padding:0 40px;

        .menu__item{
            @include menu-item;
            &:focus{
                outline: none;
            }
        }
    }
}
.active{
    text-decoration: underline;
}
.navbar--active{
    transform:translateX(0) !important;
    transition: transform .2s ease-in-out;
}

@media screen and(max-width: 1000px){
    .hamburger-btn{
        display:block !important;
        background-color: white;
    }
    .navbar{
        flex-direction: column;
        background-color: black;
        height: fit-content;
        transform:translateX(-100vw);
        .menu{
            flex-direction: column;
            .menu__item:nth-child(5){
                border-bottom: 2px solid white;
            }
        }
    }
}